.contact-page{

    max-width:700px;

    margin:auto;

}

.contact-page h1{

    text-align:center;

    color:#0F172A;

    margin-bottom:10px;

}

.contact-page p{

    text-align:center;

    color:#64748b;

    margin-bottom:30px;

}

.contact-form{

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    display:flex;

    flex-direction:column;

    gap:18px;

}

.contact-form input,
.contact-form textarea{

    padding:14px;

    border:1px solid #cbd5e1;

    border-radius:8px;

    font-size:15px;

}

.contact-form button{

    background:#2563EB;

    color:white;

    border:none;

    padding:15px;

    border-radius:8px;

    font-size:17px;

    font-weight:bold;

}

.success-box{

    margin-top:20px;

    background:#dcfce7;

    color:#166534;

    padding:18px;

    border-radius:8px;

}