.navbar{
    background:#0F172A;
    color:white;
    position:sticky;
    top:0;
    z-index:999;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:28px;
}

.nav-links a{
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#38BDF8;
}

.active{
    color:#38BDF8;
    font-weight:bold;
}

.menu-btn{
    display:none;
    border:none;
    background:none;
    color:white;
    font-size:26px;
    cursor:pointer;
}

/* ---------- Mobile ---------- */

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{

        position:absolute;

        top:72px;

        left:-100%;

        width:100%;

        background:#0F172A;

        display:flex;

        flex-direction:column;

        padding:20px;

        transition:.3s;

        gap:20px;

    }

    .active-menu{

        left:0;

    }

    .nav-links a{

        font-size:18px;

    }

}