.navbar{

    background:#0F172A;

    color:white;

    padding:18px 0;

    position:sticky;

    top:0;

    z-index:999;

    box-shadow:0 3px 8px rgba(0,0,0,.1);

}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    color:white;

    font-size:24px;

    font-weight:bold;

}

nav{

    display:flex;

    gap:30px;

}

nav a{

    color:white;

    font-size:16px;

    transition:.3s;

}

nav a:hover{

    color:#38BDF8;

}

.active{

    color:#38BDF8;

    font-weight:bold;

}